@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: "Pixelify Sans", monospace;
}

[data-theme="light"] {
    --paper: #eee5d0;
    --paper-light: #f5eedf;
    --paper-dark: #ddd2b9;
    --ink: #29261f;
    --faded-ink: #716b5d;
    --red: #a34835;
    --green: #526b45;
    --line: rgba(55, 48, 35, 0.22);
    --shadow: rgba(50, 40, 25, 0.18);
}

:root {
    --paper: #171611;
    --paper-light: #211f18;
    --paper-dark: #0f0f0c;
    --ink: #ded4b9;
    --faded-ink: #8d8672;
    --red: #bd6a56;
    --green: #849b70;
    --line: rgba(220, 210, 100, 0.2);
    --shadow: rgba(0, 0, 0, 0.55);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    color: var(--ink);
    background: var(--paper);

    font-family: "DM Mono", monospace;

    transition:
        background 0.4s ease,
        color 0.4s ease;

    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    opacity: 0.5;
    background-image:
        repeating-linear-gradient(
            0deg,
            transparent,
            transparent 3px,
            var(--line) 4px
        );

        mix-blend-mode: multiply;

        z-index: 20;
}

[data-teme="light"] body::before {
    mix-blend-mode: screen;
    opacity: 0.15;
}

.navbar {
    width: min(1200px, 90vw);
    margin: 0 auto;
    min-height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line);
}

.logo-title {
    font-family: "Libre Baskerviller", serif;
    font-weight: 700;
    font-size: 1.35rem;
    letter-spacing: -0.04em;
}

.logo-sub {
    margin-top: 5px;
    font-size: 0.55rem;
    letter-spacing: 0.18em;
    color: var(--faded-ink);
}

nav {
    display: flex;
    align-items: center;
    gap: 28px;
}

nav a {
    color: var(--ink);
    text-decoration: none;
    font-size: 0.65rem;
    letter-spacing: 0.08em;
}

nav a:hover {
    color: var(--red);
}

.sign-in {
    border: 1px solid var(--ink);
    padding: 9px 13px;g
}